/*public*/
html,body{width: 100%;height: 100%;} html,body,h1,h2,h3,form,ol,ul,li,dd,dl,dt,p{margin:0px;padding:0px;} body {margin:0; padding:0;} body {font-family: "Meiryo UI","Helvetica Neue",Helvetica,Arial, "Hiragino Sans GB","Hiragino Sans GB W3", "Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei", sans-serif, \5FAE\8F6F\96C5\9ED1,\9ED1\4F53,\5b8b\4f53 !important;font-size: 14px;color:#000;} .c .active{border-top-left-radius: 6px;border-top-right-radius: 6px;border: 1px solid #ccc;border-bottom: 1px solid #fff !important;}
/*防止苹果的样式破坏*/ div,input{box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; } input[type=text], input[type=password] {font-family: inherit; background-repeat: no-repeat; } input[type=button], input[type=submit] {font-family: inherit; white-space: nowrap; vertical-align: middle; cursor: pointer; border: 1px solid transparent; background-repeat: no-repeat; } input[disabled]{opacity: 0.8; }
/*slider 使用*/
.flexslider {width: 100%; height: 100%; background-color: transparent !important; border-color: transparent !important; border-width: 0 !important; } .flexslider .slides {width: 100%; height: 100%; list-style: none; } .flexslider .slides li {display: none; } .flexslider .slides li img {width: 100%; } .flexslider .slides li:first-child {width: 100%; height: 100%; display: block; } .flex-direction-nav .flex-prev{ width: 20px; height: 30px; background-repeat: no-repeat; } .flex-direction-nav .flex-next{ width: 20px; height: 30px; background-repeat: no-repeat; }
/*中间编辑 body 组件 */ 
#edit_body {min-height: 100px; margin: 0 auto; position: relative; } .edit_row {max-width: 100%; min-width: 100px; min-height: 50px; height: auto; overflow: hidden; position: relative; box-sizing: content-box; } .edit_cell {width: 100px; max-width: 100%; min-width: 40px; height: 100px; display: inline-block; overflow: hidden; position: absolute !important; cursor: pointer; box-sizing: content-box; } .edit_cell div {word-wrap: break-word; } .edit_cell a{color:inherit; } .edit_loginBox {position: absolute; max-width: 100%; min-width: 200px; min-height: 50px; height: auto; overflow: hidden; } .edit_lobo_cell {padding: 4px; position: absolute;border:0px dashed #B8B8B8; background-repeat: no-repeat; outline: none; } #center{}
/*多Tabs 组件 */
.edit_moreTabs {} .edit_moreTabs .mt_head {} .edit_moreTabs .mt_head>span {height: 100%; line-height: 40px; display: inline-block; background-color: transparent; text-align: center; white-space: nowrap; vertical-align: bottom;float: left;} .edit_moreTabs .mt_head>span.active {background:url(b111.jpg) no-repeat bottom center;  } .edit_moreTabs .mt_body {position: absolute; bottom: 0; right: 0; left: 0; } .edit_moreTabs .mt_body>div {width: 100%; height: 100%; position: absolute; top: 0; }
/*box弹窗 */ 
.tip-box {position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 99999999;font-family: inherit; overflow: hidden;font-size:1em;color:#333;} .tip-box-body{margin-top:0;opacity: .7;} .tip-box-title{height: 45px;padding: 15px 0 5px 15px;} .tip-box-footer{text-align:right} .tip-box-footer-btn{margin-left:20px;width:80px;}
/**中文*/
/*调整 boxy 样式*/
.c-confirm .con {line-height: 35px !important;}
.hd.title-bar{padding-left: 20px;}

.copybutton {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}